<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
  <head>
    {% block head %}
      <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
      <meta charset="utf-8" />
      <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
      <link rel="stylesheet" href="{{ SITEURL }}/theme/css/main.css">
    {% endblock head %}
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '521a856af5a1f5696b00027d');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
      })();
    </script>
  </head>
  <body>
    <div class="container">
      <nav class="column">
        <ul class="nav-column">
          {% for p in pages %}
            <li class="nav-item"><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
          {% endfor %}
          <li class="nav-item"><a href="{{ SITEURL }}/posts/">archives</a></li>
          <li class="nav-item recent-articles">
            <p>recent</p>
            <ul>
              {% for a in articles[0:4] %}
                <li>
                  <a href="{{ SITEURL }}/{{ a.url }}">{{ a.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </li>
        </ul>
      </nav>
      <section class="main">
        <header class="blog-title">
          <a href="{{ SITEURL }}/">spencer nelson</a>
        </header>
        <section class="content">
          {% block main %}
          {% endblock main %}
        </section>
      </header>
    </div>
  </body>
</html>
