{% extends "base.html" %}

{% block title %} home {% endblock title %}

{% block main %}
  {% for article in articles_page.object_list[:1] %}
    <article>
      <header>
        <h1 class="article-title">
          <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
        </h1>
        <time pubdate datetime="{{ article.date.isoformat() }}">{{ article.date|strftime('%b. %d, %Y') }}</time>
      </header>
        {{ article.content }}
    </article>
    <hr class="article-divider">
  {% endfor %}
{% endblock main %}
