A polemic on how you should use to bootstrap to analyze A/B test results.
