/* Typography */
body {
    font-family: "Garamond", "Georgia", serif;
    font-size: 1em;
    line-height: 1.25em;
    color: #222;
    margin: auto;
    width: 960px;
}

a {
    color: #4070a0;
}

a:link, a:visited {
    text-decoration:none;
    color: #4070a0;
}

a:hover, a:active {
    text-decoration:none;
    color: #433FD3;

}

header h1 a {
    color: #222;
}

h1 {
    font-size: 2em;
    margin: auto;
    line-height: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 1em 0em 0em 0em;
    padding: 0em;
    color: #A06A4D;
}

dt {
    font-weight: bold;
}

.highlight pre   { 
    background: #f0f0f0; 
    margin: 1em -3em 1em -3em;
    padding: 1em;
    font-family: "Anonymous Pro", Consolas, "Liberation Mono", Courier, monospace;
    font-size: 0.8em;
    overflow: hidden;
}

.highlight pre  .hll { background-color: #ffffcc }
.highlight pre  .c { color: #60a0b0; font-style: italic } /* Comment */
.highlight pre  .err { border: 1px solid #FF0000 } /* Error */
.highlight pre  .k { color: #007020; font-weight: bold } /* Keyword */
.highlight pre  .o { color: #666666 } /* Operator */
.highlight pre  .cm { color: #60a0b0; font-style: italic } /* Comment.Multiline */
.highlight pre  .cp { color: #007020 } /* Comment.Preproc */
.highlight pre  .c1 { color: #60a0b0; font-style: italic } /* Comment.Single */
.highlight pre  .cs { color: #60a0b0; background-color: #fff0f0 } /* Comment.Special */
.highlight pre  .gd { color: #A00000 } /* Generic.Deleted */
.highlight pre  .ge { font-style: italic } /* Generic.Emph */
.highlight pre  .gr { color: #FF0000 } /* Generic.Error */
.highlight pre  .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight pre  .gi { color: #00A000 } /* Generic.Inserted */
.highlight pre  .go { color: #888888 } /* Generic.Output */
.highlight pre  .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.highlight pre  .gs { font-weight: bold } /* Generic.Strong */
.highlight pre  .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight pre  .gt { color: #0044DD } /* Generic.Traceback */
.highlight pre  .kc { color: #007020; font-weight: bold } /* Keyword.Constant */
.highlight pre  .kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
.highlight pre  .kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
.highlight pre  .kp { color: #007020 } /* Keyword.Pseudo */
.highlight pre  .kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
.highlight pre  .kt { color: #902000 } /* Keyword.Type */
.highlight pre  .m { color: #40a070 } /* Literal.Number */
.highlight pre  .s { color: #4070a0 } /* Literal.String */
.highlight pre  .na { color: #4070a0 } /* Name.Attribute */
.highlight pre  .nb { color: #007020 } /* Name.Builtin */
.highlight pre  .nc { color: #0e84b5; font-weight: bold } /* Name.Class */
.highlight pre  .no { color: #60add5 } /* Name.Constant */
.highlight pre  .nd { color: #555555; font-weight: bold } /* Name.Decorator */
.highlight pre  .ni { color: #d55537; font-weight: bold } /* Name.Entity */
.highlight pre  .ne { color: #007020 } /* Name.Exception */
.highlight pre  .nf { color: #06287e } /* Name.Function */
.highlight pre  .nl { color: #002070; font-weight: bold } /* Name.Label */
.highlight pre  .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.highlight pre  .nt { color: #062873; font-weight: bold } /* Name.Tag */
.highlight pre  .nv { color: #bb60d5 } /* Name.Variable */
.highlight pre  .ow { color: #007020; font-weight: bold } /* Operator.Word */
.highlight pre  .w { color: #bbbbbb } /* Text.Whitespace */
.highlight pre  .mf { color: #40a070 } /* Literal.Number.Float */
.highlight pre  .mh { color: #40a070 } /* Literal.Number.Hex */
.highlight pre  .mi { color: #40a070 } /* Literal.Number.Integer */
.highlight pre  .mo { color: #40a070 } /* Literal.Number.Oct */
.highlight pre  .sb { color: #4070a0 } /* Literal.String.Backtick */
.highlight pre  .sc { color: #4070a0 } /* Literal.String.Char */
.highlight pre  .sd { color: #4070a0; font-style: italic } /* Literal.String.Doc */
.highlight pre  .s2 { color: #4070a0 } /* Literal.String.Double */
.highlight pre  .se { color: #4070a0; font-weight: bold } /* Literal.String.Escape */
.highlight pre  .sh { color: #4070a0 } /* Literal.String.Heredoc */
.highlight pre  .si { color: #70a0d0; font-style: italic } /* Literal.String.Interpol */
.highlight pre  .sx { color: #c65d09 } /* Literal.String.Other */
.highlight pre  .sr { color: #235388 } /* Literal.String.Regex */
.highlight pre  .s1 { color: #4070a0 } /* Literal.String.Single */
.highlight pre  .ss { color: #517918 } /* Literal.String.Symbol */
.highlight pre  .bp { color: #007020 } /* Name.Builtin.Pseudo */
.highlight pre  .vc { color: #bb60d5 } /* Name.Variable.Class */
.highlight pre  .vg { color: #bb60d5 } /* Name.Variable.Global */
.highlight pre  .vi { color: #bb60d5 } /* Name.Variable.Instance */
.highlight pre  .il { color: #40a070 } /* Literal.Number.Integer.Long */

/* Frontpage */
section.posts ul {
    list-style: none;
    width: 75%;
}

section.projects ul {
    list-style: none;
}

section.posts li, section.projects li {
    margin-bottom: 1.3em;
}

section.posts li span {
    display: inline-block;
    min-width: 6em;
    padding-right: 1em;
}

section.posts li p, section.projects li {
    margin-top: 0.5em;
    margin-left: 7em;
}

section.projects dd p {
    margin-top: 0;
    padding-top: 0;
}

section.projects dl dt {
    margin-left: 40px;
}

section.projects dl dd {
    margin-left: 60px;
}

/* Blog post contents */
article {
    width: 35em;
    margin: auto;
    padding-top: 1.5em;
    padding-bottom: 3em;

    hyphens: auto;
}

article header {
    margin-bottom: 0.3em;
}

article header h1 {
    margin: 0em;
    padding: 0em;
}

article header time {
    font-size: 0.9em;
}

article ul li {
    list-style-type: square;
}

article hr {
    padding: 0;
    margin: 1em;
    border: none;
    color: #333;
    text-align: center;
}

article hr:after {
    content: "*  *  *";
    display: inline-block;
    position: relative; 
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
    letter-spacing: 1em;
}

hr.article-divider {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: 4em 0em;
}

/* Tables and other miscellany */
table {
    table-layout: fixed;
    width: 80%;
    margin-left: 10%;
}

td.alpha, th.alpha {
    text-align: left;
}

td.numeric, th.numeric {
    text-align: right;
}
